{
  "$schema": "https://developer.microsoft.com/json-schemas/fabric/gitIntegration/platformProperties/2.0.0/schema.json",
  "metadata": {
    "type": "SemanticModel",
  "displayName": "{{ pbip_display_name }}"
  },
  "config": {
    "version": "2.0",
    "logicalId": "9d0c9c56-a68f-488c-a761-4e5472512f48"
  }
}