{
  "$schema": "https://developer.microsoft.com/json-schemas/fabric/gitIntegration/platformProperties/2.0.0/schema.json",
  "metadata": {
    "type": "Report",
  "displayName": "{{ pbip_display_name }}"
  },
  "config": {
    "version": "2.0",
    "logicalId": "030b495d-1f6f-4efe-bf5e-070045e69ff8"
  }
}